<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tetris Game</title>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body background="{{ background_url }}">
    <div class="container">
    <div id="startScreen">
        <button class="start-button" onclick="startGame();">Start</button>
    </div>

    <div id="game" style="display: none;">
        <h1>Tetris</h1>
        <canvas id="tetris" width="240" height="400"></canvas>
        <div id="score">Score: 0</div>
        <button class="toggle-music-button" onclick="toggleMusic()">Toggle Music</button>
        <input class="volume-slider" type="range" min="0" max="1" step="0.01" value="0.5" onchange="adjustVolume(this.value)" />
        <label class="volume-label">Volume</label>
    </div>
    <div id="gameGuide" style="display: none;">
        <h3>Q E to rotate</h3>
        <h3>S to drop faster</h3>
        <h3>A D to move</h3>
    </div>
</div>

    <script src="{{ url_for('static', filename='js/tetris.js') }}"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>